
flask
langchain
openai
chromadb
sentence-transformers
python-dotenv
gunicorn
langchain 
langchain-community 
chromadb
python-dotenv
Flask
flask_sqlalchemy
psycopg2-binary
python-dotenv
langchain
langchain-openai
langchain-chroma
gunicorn
psycopg2-binary


